@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
    background-color: #2F2F2F;
    max-height: 100vh;

}

nav{
    position: sticky;
    top: 0;
    height: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.NavContainer{
    display: flex;
    gap: 35px;
    width: 30px;
    text-align: center;
    justify-content: center;
}
.Logo h2{
    color: #FAD02C;
    border-radius: 13px;
    background-color: #131313;
    width:  80px;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li a {
    padding: 13px;
    border-radius: 20px;
    
    list-style: none;
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.5s;
}
nav ul li a:hover {
    background-color: #eaf5d9;
    color: #131313;
}
.navBtns{
    
    padding-right: 50px;
    display: inline-flex;
    gap: 80vh;
    height: 50px;
}
nav button{
    margin-right: 10px;
    margin-top: 10px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f2d9;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    transition: 0.5s;
}
nav button:hover{
    background-color: #FAD02C;
    transform: scale(0.99);
}
.Motiv, .motivText1{
    font-size: 30px;
    transition: 2s;
}
.Motiv, .motivText1:hover{
    word-spacing: 50px;
    
}
.motiv{
    margin: 0;
    padding: 0;
}
.Motiv, .motivText1, .motivText2{
    padding: 2px;
    margin-left: 50px;
    word-spacing: 8px;
    color: white;
    text-align: center;
     
}
.colors{
    
    margin: 10px;
    display: flex;
    gap: 0.1px;
}
.red{
    margin: 10px;
    z-index: 1000px;
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: red;
}
 .yellow{
    margin: 10px;
    z-index: 1000px;
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: #FAD02C;
    border-radius: 50%;
    color: #FFBB00;
}
.green{
    margin: 10px;
    z-index: 1000px;
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: lime;
    border-radius: 50%;
    color: rgb(0, 255, 13);
}
.box2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url();
    margin-top: 10px;
    margin: 20px 100px 100px 150px;
    text-align: justify;
    align-content: center;
    display: flex;
    width: 1200px;
    height: 85vh;
    background-color: #eaf5d9;
    border-radius: 30px;
    position: absolute;
    text-align: left;
    z-index: 0;
    transform:translateZ(100px)
    
}
.box2 h1{
    justify-self: right;
    font-size:53px;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.box{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 2.12) 0px 4px 6px, rgba(0, 0, 0, 2.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url();
    margin-top: 10px;
    margin: 20px 500px 100px 60px;
    text-align: justify;
    align-content: center;
    display: flex;
    width: 1100px;
    height: 80vh;
    background-color: #D2F898;
    border-radius: 30px;
}
.descrip .word{
    padding: 20px;

}
.Prof{
    background-color: #000000;
    justify-content: left;
    width: 900px;
    border-radius: 30px;
}
.Prof .images, .exam h1{
    text-align: center;
    color: white;
}
.Images{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    width: 300px;
    border-style: solid;
    
    height: 300px;
}
.Images, img{
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}
.Profdesc {
    color: white;
    padding: 15px;
    justify-content: right;
}
.Profdesc .Loc{
    display: flex;
     
    
}
.Profdesc .Loc i{
    color: tomato;
}

.socialsSec .Bts{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    border-radius: 13px;
    border-style: none;
    background-color: #FFBB00;
    padding: 10px;
    margin: 5px;
    background: linear-gradient(70deg, #ebff7b, #574e00,);
    transition: 0.5s;
}
.socialsSec .Bts:hover{
    background-color: #574e00;
    transform: scale(0.81px);
}